<h1>authentic authentication</h1>


<form action="/signin" method="post">
  <label for="email">email</label>
  <input type="text" name="email">
  <label for="password">password</label>
  <input type="text" name="password">
  <button type="submit" name="button">Submit!</button>
</form>
