<h1>Sign up as a new user</h1>


<form action="/signup" method="post">
  <label for="email">email</label>
  <input type="text" name="email">
  <label for="password">password</label>
  <input type="text" name="password">
  <label for="password_confirmation">Confirm your password</label>
  <input type="text" name="password_confirmation">
  <button type="submit" name="button">Sign up!</button>
</form>
